*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(1, 32, 50);
    font-family: San-Francisco, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    

.digital-clock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(14, 171, 233);

}

#clock {
    /* background-color: white; */
    width: auto;
    padding: 100px 100px;
    text-align: center;
    font-size: 130px;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 4px 40px rgba(255, 255, 255, 0.400), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

