*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0a0a;
}

.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    background-color: #1d212b;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
    z-index: 1;
    clip-path: circle(150% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
}

.img-slider .slide img{
    z-index: 1;
    border-radius: 5px;
    width: 100%;
}

.img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
    color: #fff;
    width: 100%;
    z-index: 2;
    background: linear-gradient(500deg, rgba(10, 13, 15, 0.8) 0%, rgba(0,0,0,0) 100%);
}

.img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-style: 800;
    letter-spacing: 2px;
}

.img-slider .slide .info p{
    color: #fff;
    /* background: linear-gradient(90deg, rgba(1, 30, 63, 0.8) 0%, rgba(0,0,0,0) 100%); */
    font-size: 16px;
    padding: 7px 0;
    border-radius: 4px;
}

.img-slider .navigation{
    z-index: 3;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
}

.img-slider .navigation .btn{
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.8);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active{
    background: #0dd2ec;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

